<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 配置UserController -->
    <bean id="userController" class="com.wxl.controller.UserController">
        <property name="userService" ref="userService"></property>
    </bean>
    <!-- 配置UserService -->
    <bean id="userService" class="com.wxl.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"></property>
    </bean>
    <!-- 配置UserDAO -->
    <bean id="userDAO" class="com.wxl.dao.impl.UserDAOImpl"></bean>


</beans>